/mmVelo_tutorial/experiments/
/mmVelo_tutorial/figures/
/mmVelo_tutorial/src/__pycache__
/mmVelo_tutorial_v2/experiments/
/mmVelo_tutorial_v2/runs/
/mmVelo_tutorial_v2/data/human_brain/

*.h5ad
*.h5
*.npz
*.npy
*.pt
*.pth
*.ckpt
*.pkl
__pycache__/
.ipynb_checkpoints/